<!-- <h1>Gossips#show</h1> -->

<div class = "gossip">
	<h5>gossip author: <%= @gossip.anonymous_author %></h5>
  	<p>Gossip: <%= @gossip.content %></p>
  	<button><%= link_to "Edit gossip", '/gossips/:id/edit' %></button>
</div>